<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/header::header(titulo='Datos Cliente')}">

</head>
<body>
<!--Navbar-->
<div th:replace="~{fragmentos/navbar::navbar}"/>

<div class="container">
    <h1 class="container text-center">Datos cliente</h1>
</div>
<div class="container mx-auto">
    <a type="button" class="btn btn-success text-center" th:href="@{/clientes}">Regresar</a>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">FECHA</th>
            <th scope="col">CANAL DE CONTACTO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente: ${cliente}">
            <td th:text="${cliente.idCliente}" scope="row"></td>
            <td th:text="${cliente.nombreCliente}"></td>
            <td th:text="${cliente.apellidoCliente}"></td>
            <td th:text="${cliente.telefonoCliente}"></td>
            <td th:text="${cliente.direccionCliente}"></td>
            <td th:text="${cliente.creacionCliente}"></td>
            <td th:text="${cliente.canalContacto}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4" th:text="'No hay facturas asignadas para el cliente ' + ${cliente.nombreCliente} + ' '+ ${cliente.apellidoCliente}"></div>

    <table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">FOLIO</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">FECHA</th>
            <th scope="col">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="factura: ${cliente.facturas}">
            <td th:text="${factura.idFactura}" scope="row"></td>
            <td th:text="${factura.descripcionFactura}"></td>
            <td th:text="${factura.observacionFactura}"></td>
            <td th:text="${factura.total}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--Footer-->
<div th:replace="~{fragmentos/footer::footer}"/>
</body>
</html>