<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/header::header(titulo='Editar Categoria')}">

</head>
<body>
<!--Navbar-->
<div th:replace="~{fragmentos/navbar::navbar}"/>
<div class="container">
    <div class="container text-center">
        <h2>Editar Categoria</h2>
    </div>
</div>

<div class="container">
    <form action="/updateCategoria" th:object="${categoria}" method="post">
        <input type="hidden" th:field="*{idCategoria}"/>
        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombreCategoria" placeholder="Ingresar nombre" th:field="*{nombreCategoria}">
        </div>
        <div class="form-group mb-3">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcionCategoria" placeholder="Ingresar descripción" th:field="*{descripcionCategoria}">
        </div>
        <div class="text-center">
            <div class="d-flex center-content-end">
                <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                <a href="/categorias" class="btn btn-danger btn-sm">Regresar</a>
            </div>
        </div>
    </form>

</div>

<!--Footer-->
<div th:replace="~{fragmentos/footer::footer}"/>
</body>
</html>